.form-control {
    box-shadow: none !important;
    border: none !important;
    background-color: #F2F0F2 !important;
    border-radius: 12px;
    padding: 12px 40px;
}

.form-control::placeholder {
    color: #49735A !important;
}

.btn-primary {
    background-color: #064749 !important;
    color: #fff;
    border-radius: 40px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: 9px 40px;
    transition: ease-in-out 0.5s;
}

.text-primary {
    color: #064749 !important;
}

.btn-primary:hover {
    transform: scale(1.01);
    background-color: #033031 !important
}

.text-underline {
    text-decoration: underline !important;
}